[Unit]
Description=Strato DynDNS Update for darkfloor.de
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-dyndns.sh
